.not-logged-in .nav.menu {
  display: none;
}
.embed .vertical-tabs {
  display: none;
}
#edit-field-categories-tid {
  width: 230px;
}
.management-menu {
  float: left;
}
.user-menu {
  float: right;
}
.management-menu li,
.user-menu li {
  display: inline-block;
  float: left;
}
#site-name {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: left;
  position: relative;
  left: -12px;
  top: 15px;
  padding-right: 10px;
  font-size: 18px;
}
div.region-navigation {
  display: inline;
}
.nav>li>a {
  height: 48px;
}
#edit-field-categories-tid-wrapper {
  width: 280px;
}
.form-item-author {
  width: 180px;
}
section#block-user-login.user-menu {
  float: none;
}
#block-user-login .btn {
  float: right;
}
.dropdown-menu li.leaf,
.dropdown-menu li.expanded {
  width: 100%;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 15px;
}
.logo {
  position: relative;
  top: 6px;
}
.breadcrumb {
  display: none;
}
